body {
  font-family: Arial;
  text-align: center;
  background: #ffdde1;
}

.menu {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.card {
  background: white;
  padding: 20px;
  border-radius: 10px;
}

input, button {
  display: block;
  margin: 10px auto;
  padding: 10px;
}
